body {
    --core-header-toolbar-background: purple;
    --core-header-toolbar-color: white;
}

:root ion-tab-bar.mainmenu-tabs {
                     --color-selected: purple ;
                     }
