body {
    --core-header-toolbar-background: purple;
    --core-header-toolbar-color: white;
}

:root ion-tab-bar.mainmenu-tabs {
                     --color-selected: green;
                     }

core-progress-bar {
    --core-progressbar-height: 4px;
    --core-progressbar-color: green;
    --core-progressbar-text-color: purple;
    --core-progressbar-background: white;
}
