body {
    --core-header-toolbar-background: #86338B;
    --core-header-toolbar-color: white;
}

:root ion-tab-bar.mainmenu-tabs {
                     --color-selected: #8BB126;
                     }

core-progress-bar {
    --core-progressbar-height: 4px;
    --core-progressbar-color: #8BB126;
    --core-progressbar-text-color: #86338B;
    --core-progressbar-background: white;
}

ion-button {
    --background: #00AEEA;
}
